@import "antd/dist/reset.css";

#root {
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

*,
:after,
:before {
    border: 0 solid #e5e7eb;
}

.ant-table-body {
    overflow: auto !important;
}
