@import url(simplebar-react/dist/simplebar.min.css) layer(simplebar);

@import "tailwindcss";

@config '../../tailwind.config.ts';

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer simplebar {
    .simplebar-scrollbar::before {
        background-color: #909399;
    }

    .simplebar-content {
        height: 100%;
    }
}

html.color-blind-mode {
    @apply invert;
}

html.gray-mode {
    @apply grayscale;
}
